.ButtonA {
  background-color: #453245;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 100px;
}
.ButtonB {
  background-color: #459631;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  min-height: fit-content;
}
