.header {
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 1280px;

  border-style: inset;
  border-color: #2a2a42;
  border-radius: 10px;
  border-width: 50px;
}
